{{- with .Site.Params.homeSubtitle }}
    <img src="EF_Logo_BR.webp" alt="logo" class="img-logo">
    <p class="WelcMessage"> مرحبا يا صديقي! ما رأيك ببدء مغامرة تعلم جديدة؟</p>
    <div style="display: flex; justify-content: center;">
    <button class="start-btn btn-primary btn-lg" onclick="document.location='./posts'">اضغط هنا ليبدأ المرح!</button>
    </div>
    <img src="KidLearning.webp" alt="logo" class="kid-img">
    <img src="GirlLearning.webp" alt="logo" class="girl-img">
    <div style="display: flex; justify-content: center;">
        <img src="Books.webp" alt="logo" class="books-img">
    </div>
{{- end }}